extends ../layout.pug

block content
    p Your code is: <strong>#{token}</strong>. Use it to verify your email.
    p The code will be expired in 60 seconds.
    p If you didn't request this, simply ignore this message.
