extends ../layout.pug

block content
    p Use this <strong><a href="#{connectWalletLink}" target="_blank">link</a></strong> to connect your new wallet.
    p The link will be expired in 5 minutes.
    p If you didn't request this, simply ignore this message.
